@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Permanent+Marker&family=Poppins:wght@100;200;300;900&family=Roboto:wght@700&family=Shadows+Into+Light&display=swap');

#header {
    background-color: #A993FF;
    height: 100px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 17px;
}

.logoheader {
    display: flex;
    position: absolute;
    padding-left: 17px;
    padding-top: 30px;
}

.logoheadertito {
    display: flex;
    position: absolute;
    padding-left: 133px;
    padding-top: 37px;
}

.menuheader {
    list-style: none;
    text-align: end;
    padding-top: 37px;
}

.download {
    text-align: start;
}

.fotopagina1 {
    display: flex;
    position: absolute;
}

.esparati {
    display: flex;
    position: absolute;
    padding-top: 554px;
    padding-left: 168px;
}

.quesepuedehacer {
    display: flex;
    position: absolute;
    padding-top: 800px;
    padding-left: 238px;
}

.ventajas {
    display: flex;
    position: absolute;
    padding-top: 1315px;
    padding-left: 168px;
}


.comofunciona {
    display: flex;
    position: absolute;
    padding-top: 1704px;
    padding-left: 168px;
}


#footertotal {
    margin-top: 2309px;
    margin-left: 200px;
}


.macbookpro {
    display: flex;
    position: absolute;
    padding-top: 200px;
    width: 500px;
    margin-left: 1000px;
}

#rectangulofooter{
    margin-top: 200px;
}


.rectangulofooter {
    display: flex;
    position: absolute;
    margin-left: 0px;
}


.logotitofooter {
    display: flex;
    position: absolute;
    padding-left: 17px;
    margin-top: 150px;
    z-index: 1;
}

.logotitofooter2 {
    display: flex;
    position: absolute;
    padding-left: 133px;
    margin-top: 230px;
    z-index: 1;
}



.footerlist {
    display: flex;
    position: absolute;
    height: 100px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 17px;
    padding-top: 50px;
    list-style: none;
    text-align: end;
}


 .appstorebutton{
    margin-left: 1200px;
    margin-top: 700px;
}


.playstorebutton{
    margin-left: 1200px;
}
